<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo Image -->
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      </a>
  
      <!-- Navbar Toggler (for mobile view) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Home Link -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
  
          <!-- Login Button with RouterLink -->
          <li class="nav-item">
            <button class="nav-link" [routerLink]="['login']">Login</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  